<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <util:list id="menu">
        <value>Pizza</value>
        <value>Burger</value>
        <value>Pasta</value>
    </util:list>
    <util:map id="priceMap">
        <entry key="Pizza" value="12.99"/>
        <entry key="Burger" value="8.49"/>
        <entry key="Pasta" value="10.99"/>
    </util:map>
    <bean id="restaurant" class="com.sl.Restaurant">
        <property name="name" value="Gourmet Bistro"/>
        <property name="menuItems" ref="menu"/>
        <property name="prices" ref="priceMap"/>
    </bean>
</beans>