<div style="border:solid 2px rgb(245, 35, 186)">
    <h2>Product List V2</h2>
    <ng-container *ngIf="products$ | async as products">


        <table border="1">
            <tr>
                <th>SL NO </th>
                <th>NAME </th>
                <th>DETAILS</th>
            </tr>

            <tr *ngFor="let product of products; index as i">
                <td>{{ i+1 }}</td>
                <td>{{product.name}}</td>
                <td><a href="/product/{{product.id}}"> DETAILS </a></td>
            </tr>
            
        </table>

    </ng-container>
</div>